@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.section-container {
  @include widthAndHeight(100%, 80vh);
  background: $mainOrangeColor;
  color: $mainWhiteColor;

  h2 {
    font-size: 36px;
    font-family: "Roboto Condensed";
    padding-top: 90px;
  }

  .article-wrapper {
    @include widthAndHeight(80%, 60%);
    @include flexContainer(50px);
    margin: 70px auto;
  }
}

@media all and (max-width: $smallMedia) {
  .section-container {
    @include widthAndHeight(100%, auto);
    padding: 10px;

    h2 {
      font-size: 36px;
      padding-top: 35px;
      margin-bottom: 20px;
    }

    .article-wrapper {
      @include widthAndHeight(100%, 100%);
      gap: 25px;
      flex-direction: column;
      margin: 0;
      padding-bottom: 40px;

      .article {
        @include widthAndHeight(100%, auto);

        h3 {
          font-size: 36px;
          margin-bottom: 100px;
        }

        p {
          font-family: "Poppins", sans-serif;
          text-align: center;
          padding: 5px;
          font-size: 16px;
        }
      }
    }
  }
}
