@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.latest-benefits-section {
  @include widthAndHeight(100%, 523px);
  padding-left: 150px;
  padding-right: 150px;

  .header-resp-desc {
    display: none;
  }

  .header {
    @include widthAndHeight(100%, 15%);
    @include flexContainer(0);
    justify-content: space-between;
    border-bottom: 5px solid $mainBlueColor;
    margin-bottom: 40px;

    h3 {
      font-size: 36px;
      text-align: center;
      padding: 14px 32px;
      background: $mainBlueColor;
      color: $mainWhiteColor;
      font-family: "Roboto Condensed";
    }

    p {
      font-size: 18px;
      font-family: "Poppins", sans-serif;

      span {
        color: $mainBlueColor;
      }
    }
  }

  .cards-wrapper {
    width: 100%;
    height: calc(85% - 40px);
    @include flexContainer(40px);
  }
}

@media all and (max-width: $smallMedia) {
  .latest-benefits-section {
    @include widthAndHeight(100%, auto);
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    .header {
      @include widthAndHeight(100%, 15%);
      justify-content: center;
      align-items: end;
      margin-bottom: 5px;

      h3 {
        font-size: 26px;
        padding: 0px 18px;
      }

      .header-desc {
        display: none;
      }
    }

    .header-resp-desc {
      display: block;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      margin-bottom: 10px;

      span {
        color: $mainBlueColor;
      }
    }

    .cards-wrapper {
      width: 100%;
      // height: calc(85% - 40px);
      @include flexContainer(34px);
      flex-direction: column;
    }
  }
}
