@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/variables" as *;

.everythingLocal-container {
  @include widthAndHeight(100%, 70vh);
  @include flexContainer(0);
  padding: 80px 150px;

  .content-wrapper {
    @include widthAndHeight(100%, 100%);
    @include flexContainer(0);
    background: $mainOrangeColor;
    position: relative;

    .img-wrapper {
      @include widthAndHeight(50%, 100%);
      @include flexContainer(0);

      img {
        @include widthAndHeight(100%, 100%);
      }
    }

    .pointer {
      @include widthAndHeight(50px, 50px);
      background: $mainOrangeColor;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -30%);
      rotate: 45deg;
    }

    .description {
      @include widthAndHeight(50%, 100%);
      color: $mainWhiteColor;
      font-family: "Roboto Condensed";
      position: relative;

      div {
        @include widthAndHeight(70%, 70%);
        margin-left: 60px;
        margin-top: 70px;
        h2 {
          font-size: 40px;
          text-align: left;
          margin-bottom: 50px;
        }

        p {
          text-align: left;
          font-size: 20px;
          padding-right: 100px;
          font-family: "Poppins", sans-serif;
        }
      }
    }
  }
}

@media all and (max-width: $smallMedia) {
  .everythingLocal-container {
    @include widthAndHeight(100%, 85vh);
    padding: 10px;
    margin-top: 20px;

    .content-wrapper {
      flex-direction: column-reverse;

      .img-wrapper {
        width: 100%;
        height: 40%;
      }

      .pointer {
        display: none;
      }

      .description {
        width: 100%;
        height: 60%;

        div {
          @include widthAndHeight(100%, 100%);
          margin: 0;
          h2 {
            margin-top: 30px;
            font-size: 28px;
            text-align: center;
            margin-bottom: 40px;
          }

          p {
            text-align: center;
            font-size: 16px;
            padding-inline: 10px;
            color: rgba(244, 247, 250, 1);
          }
        }
      }
    }
  }
}
