@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/variables" as *;

.subscribeSection-container {
  @include widthAndHeight(100%, 70vh);

  .content {
    @include widthAndHeight(100%, 100%);
    @include flexContainer(0);
    padding: 80px 166px;

    .content__img-wrapper {
      @include widthAndHeight(50%, 100%);
      @include flexContainer(0);

      img {
        @include widthAndHeight(100%, 100%);
      }
    }

    .content__subscribe {
      @include widthAndHeight(50%, 100%);
      @include flexContainer(40px);
      flex-direction: column;
      text-align: center;

      h2 {
        font-family: "Roboto Condensed";
        font-size: 36px;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
      }

      button {
        cursor: pointer;
        font-family: "Roboto Condensed";
        padding: 12px 100px;
        border: none;
        color: $mainWhiteColor;
        background: $mainBlueColor;

        &:hover {
          background: $hoverBlueColor;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}

@media all and (max-width: $smallMedia) {
  .subscribeSection-container {
    height: 80%;
    padding-bottom: 40px;

    .content {
      flex-direction: column;
      gap: 40px;
      padding: 10px;

      .content__subscribe {
        gap: 15px;
      }

      .content__img-wrapper,
      .content__subscribe {
        width: 100%;
      }
    }
  }
}
