.usersSection {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
.usersSection .usersCard-wrapper {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.usersSection .usersCard-wrapper .userCard,
.usersSection .usersCard-wrapper .userCard2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: #fe8232;
  position: relative;
}
.usersSection .usersCard-wrapper .userCard .userCard__img,
.usersSection .usersCard-wrapper .userCard2 .userCard__img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.usersSection .usersCard-wrapper .userCard .userCard__img img,
.usersSection .usersCard-wrapper .userCard2 .userCard__img img {
  width: 100%;
  height: 100%;
}
.usersSection .usersCard-wrapper .userCard .pointer,
.usersSection .usersCard-wrapper .userCard2 .pointer {
  width: 30px;
  height: 30px;
  background: #fe8232;
  position: absolute;
  left: 38%;
  top: 40%;
  transform: translate(-38%, -40%);
  rotate: 45deg;
}
.usersSection .usersCard-wrapper .userCard .userCard_content,
.usersSection .usersCard-wrapper .userCard2 .userCard_content {
  width: 60%;
  height: 100%;
  padding-left: 20px;
  color: #ffffff;
}
.usersSection .usersCard-wrapper .userCard .userCard_content .content h3,
.usersSection .usersCard-wrapper .userCard2 .userCard_content .content h3 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  margin-top: 40px;
  text-align: left;
  margin-bottom: 30px;
}
.usersSection .usersCard-wrapper .userCard .userCard_content .content p,
.usersSection .usersCard-wrapper .userCard2 .userCard_content .content p {
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding-right: 40px;
  margin-bottom: 50px;
}
.usersSection .usersCard-wrapper .userCard .userCard_content .icons,
.usersSection .usersCard-wrapper .userCard2 .userCard_content .icons {
  text-align: left;
  font-size: 36px;
}
.usersSection .usersCard-wrapper .userCard .userCard_content .icons span,
.usersSection .usersCard-wrapper .userCard2 .userCard_content .icons span {
  margin-right: 5px;
}
.usersSection .arrow-left {
  width: 26px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: rgb(255, 255, 255);
  font-size: 32px;
  color: rgb(112, 124, 137);
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translate(-13%, -50%);
}
.usersSection .arrow-right {
  width: 26px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: rgb(255, 255, 255);
  font-size: 32px;
  color: rgb(112, 124, 137);
  position: absolute;
  right: 13%;
  top: 50%;
  transform: translate(-13%, -50%);
}
.usersSection .arrow-left,
.usersSection .arrow-right {
  cursor: pointer;
}
.usersSection .arrow-left:hover,
.usersSection .arrow-right:hover {
  color: #fe8232;
}

@media all and (max-width: 500px) {
  .usersSection {
    margin-top: 20px;
    height: auto;
  }
  .usersSection .arrow-left,
  .usersSection .arrow-right,
  .usersSection .pointer {
    display: none;
  }
  .usersSection .usersCard-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .usersSection .usersCard-wrapper {
    flex-direction: column;
  }
  .usersSection .usersCard-wrapper .userCard {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .usersSection .usersCard-wrapper .userCard .userCard__img {
    width: 60%;
    padding-top: 40px;
  }
  .usersSection .usersCard-wrapper .userCard .userCard_content {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .usersSection .usersCard-wrapper .userCard .userCard_content .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
  }
  .usersSection .usersCard-wrapper .userCard .userCard_content .content h3 {
    margin-top: 10px;
  }
  .usersSection .usersCard-wrapper .userCard .userCard_content .content p {
    padding: 20px;
    text-align: center;
  }
  .usersSection .usersCard-wrapper .userCard2 {
    display: none;
  }
}/*# sourceMappingURL=UsersSection.module.css.map */