@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/variables" as *;

.usersSection {
  @include widthAndHeight(100%, 45vh);
  @include flexContainer(0);
  position: relative;

  .usersCard-wrapper {
    @include widthAndHeight(70%, 70%);
    @include flexContainer(50px);

    .userCard,
    .userCard2 {
      @include widthAndHeight(50%, 100%);
      @include flexContainer(0);
      background: $mainOrangeColor;
      position: relative;

      .userCard__img {
        @include widthAndHeight(40%, 100%);
        @include flexContainer(0);

        img {
          @include widthAndHeight(100%, 100%);
        }
      }

      .pointer {
        @include widthAndHeight(30px, 30px);
        background: $mainOrangeColor;
        position: absolute;
        left: 38%;
        top: 40%;
        transform: translate(-38%, -40%);
        rotate: 45deg;
      }

      .userCard_content {
        @include widthAndHeight(60%, 100%);
        padding-left: 20px;
        color: $mainWhiteColor;

        .content {
          h3 {
            font-family: "Roboto Condensed";
            font-size: 24px;
            margin-top: 40px;
            text-align: left;
            margin-bottom: 30px;
          }

          p {
            font-family: "Poppins", sans-serif;
            text-align: left;
            padding-right: 40px;
            margin-bottom: 50px;
          }
        }

        .icons {
          text-align: left;
          font-size: 36px;

          span {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .arrow-left {
    @include widthAndHeight(26px, 38px);
    @include flexContainer(0);

    background: rgba(255, 255, 255, 1);
    font-size: 32px;
    color: rgba(112, 124, 137, 1);
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translate(-13%, -50%);
  }

  .arrow-right {
    @include widthAndHeight(26px, 38px);
    @include flexContainer(0);

    background: rgba(255, 255, 255, 1);
    font-size: 32px;
    color: rgba(112, 124, 137, 1);
    position: absolute;
    right: 13%;
    top: 50%;
    transform: translate(-13%, -50%);
  }

  .arrow-left,
  .arrow-right {
    cursor: pointer;
    &:hover {
      color: $mainOrangeColor;
    }
  }
}

@media all and (max-width: $smallMedia) {
  .usersSection {
    margin-top: 20px;
    height: auto;

    .arrow-left,
    .arrow-right,
    .pointer {
      display: none;
    }

    .usersCard-wrapper {
      @include widthAndHeight(100%, 100%);
      padding: 10px;
    }

    .usersCard-wrapper {
      flex-direction: column;

      .userCard {
        width: 100%;
        height: 100%;
        flex-direction: column;

        .userCard__img {
          width: 60%;
          padding-top: 40px;
        }

        .userCard_content {
          width: 100%;
          padding-top: 20px;
          @include flexContainer(10px);
          flex-direction: column-reverse;

          .content {
            @include flexContainer(0);
            flex-direction: column;

            h3 {
              margin-top: 10px;
            }

            p {
              padding: 20px;
              text-align: center;
            }
          }
        }
      }

      .userCard2 {
        display: none;
      }
    }
  }
}
